* {
  font-family: 'Noto Sans TC', sans-serif;
}

.addbtn {
  color:#0021a5;
  background-color: #fa4616;
  font-size: 1.5rem;
}

#total {
  color:#0021a5;
  font-size: 3.5rem;
}

.icon {
  color:#feba02;
  /* border: 1px black solid; */
  font-size: 3.5rem;
}

.banner {
  /* align-items: center; */
  color: #fa4616;
}